*{
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}

body{
    text-align: center;
    overflow-x: hidden;  
    background-color: #eef7ff;
    background-size: auto;
}

nav{
    position: relative;
    display: flex;
    width: 100%;
    background-color: rgba(161, 160, 160, 0.329);
}

nav h3{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
}

nav h3:hover{
    color: #ff4500;
    cursor: pointer;
    transition: .4s;
    transform: scale(1.2);
}

header h1{
    font-size: 150px;
    color: aliceblue;
}

span{
    color: orangered;
}

#add{
    text-align: center;
    width: 70%;
    padding: 3%;
    border-radius: 30px;
    border: 2px solid orangered;
    font-size: 100%;
    color: rgb(161, 160, 160);
    float: left;
    position: relative;
    top: 20%;
    left: 335px;
}

#btn{
    position: relative;
    font-size: 150%;
    background: transparent;
    border: 0;
    left: 120%;
    top: 25%;
}

#btn:hover{
    color: gold;
}

#anime{
    text-align: center;
    width: 80%;
    padding: 3%;
    border-radius: 30px;
    border: 2px solid orangered;
    font-size: 100%;
    color: rgb(161, 160, 160);
    float: right;
    position: relative;
    right: -300%;
    top: 20%;
}

#button {
    position: relative;
    left: 273%;
    font-size: 150%;
    background: transparent;
    border: 0;
    top: -30%;
  }
  
  button:hover{
    transition: .4s;
    transform: scale(1.3);
    cursor: pointer;

  }

.div{
    display:inline-table;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    display: none;
  }

section{
    padding: 2%;
}

img{
    border-radius: 30px;
    height: 280px;
}

h3{
    color: black;
}

div button{
    background: transparent;
    border: 0;
    font-size: 100px;
    color: white;
}

div button:hover{
    color: gold;
}

h2{
    text-align: left;
    color: black;
    font-size: 20px;
    font-style: italic;
}

.global{
    display: flex;
    overflow-x: scroll;
}

.new{
    display: flex;
    overflow-x: scroll;
}

.new section img{
    border-radius: 30px;
    width: 250px;
    height: 320px;
}

.local{
    display: flex;
    overflow-x: scroll;
}

#youranimes{
    display:flex;
    flex-flow: wrap-reverse;
}

#deleteIt{
    background-color: white;
    color: red;
    font-size: 30px;
    padding: 2px;
    border-radius: 10px;
    border: 3px solid black;
}

#deleteIt:hover{
    background-color: red;
    color: white;
}

.flexe{
    display: flex;
    overflow-x: scroll;
}

mai{
    display: flex;
    scroll-behavior: smooth;
    overflow-x: scroll;
}

main section div{
    display:inline;
}