* {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}

body {
    text-align: center;
    overflow-x: hidden;
    background-color:white;
    background-size: auto;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-betwee;
    width: 100%;
    background-color: #a1a0a054;
}

#filter{
    padding-right: 32%;
}

nav h3 {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
}

nav h3:hover {
    color: #ff4500;
    cursor: pointer;
    transition: .4s;
    transform: scale(1.2);
}

header h1 {
    font-size: 150px;
    color: aliceblue;
}

span {
    color: orangered;
}

#add {
    text-align: center;
    width: 70%;
    padding: 3%;
    border-radius: 30px;
    border: 2px solid orangered;
    font-size: 100%;
    color: rgb(161, 160, 160);
    float: left;
    position: relative;
    top: 20%;
    background-color: rgba(161, 160, 160, 0.329);
}

#btn {
    position: relative;
    font-size: 150%;
    background: transparent;
    border: 0;
    top: 20%;
    display: none;
}

#btn:hover {
    color: gold;
}

#anime {
    text-align: center;
    top: 20%;
    width: 75%;
    padding: 3%;
    border-radius: 30px;
    border: 2px solid orangered;
    font-size: 100%;
    color: rgb(161, 160, 160);
    position: relative;
    background-color: rgba(161, 160, 160, 0.329);
}

#button {
    position: relative;
    font-size: 150%;
    background: transparent;
    border: 0;
    top: 20%;
    float: right;
    display: none;
}

button:hover {
    transition: .4s;
    transform: scale(1.3);
    cursor: pointer;

}

.div {
    display: inline-table;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    display: none;
}

section {
    padding: 1%;
    max-width: 200px;
}

img {
    border-radius: 30px;
    height: 280px;
    border: 2px solid orangered;
    max-width: 200px;
}

h3 {
    color: black;
}

div button {
    background: transparent;
    border: 0;
    font-size: 100px;
    color: white;
}

div button:hover {
    color: gold;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#dis{
    display: inline;

}

main section div {
    display: inline;
}

main h1 img {
    border: 0;
}

#mainImg {
    border: 0;
    max-width: 100%;
    position: absolute;
    left: 40%;
}

h2 {
    text-align: left;
    color: black;
    font-size: 20px;
    font-style: italic;
}

.global {
    display: flex;
    overflow-x: scroll;
}

.new {
    display: flex;
    overflow-x: scroll;
}

.new section img {
    border-radius: 30px;
    width: 250px;
    height: 320px;
}

.local {
    display: flex;
    overflow-x: scroll;
}

#youranimes {
    display: flex;
    flex-flow: wrap-reverse;
}

#deleteIt {
    background-color: white;
    color: red;
    font-size: 30px;
    padding: 2px;
    border-radius: 10px;
    border: 3px solid orangered;
}

#deleteIt:hover {
    background-color: red;
    color: white;
}

.flexe {
    display: flex;
    overflow-x: scroll;
}

#likeButton{
    color: #a1a0a054;
}

#likeButton:hover{
    color: gold;
}

li{
    position: relative;
    background-color: #a1a0a054;
    width: 10%;
    left: 28%;
}

h4:hover{
    color: #ff4500;
    transition: .4s;
    transform: scale(1.3);
    cursor: pointer;
}

footer{
    background-color: #a1a0a054;
    height: 20%;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#footerImg{
    height: 30%;
}